.form-container {
  position: relative;
  top: 10vh;
  left: 25vh;
  margin-right: 3px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  width: 340px;
  transition: all 1.5s ease 0s;
}